<template>
    <div class="au-animate">
    	<!-- Header -->
        <header>
            <div class="container sub-header">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="intro-text">
                            <span class="skills">Let's get started! First we are going to ask you a few questions about who you are and what you are seeking in a new career. Don't worry, it's free!</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>

    	<!-- Registration Grid Section -->
        <section id="portfolio">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>What is your role?</h2>
                        <hr class="hs-primary">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-sm-12 portfolio-item text-center">
                    	<h2>I'm a Job Provider</h2>
                        <a route-href="route: job-provider" class="portfolio-link" data-toggle="modal">
                            <img src="src/images/registration/job_provider.jpg" class="img-responsive center-block" alt="">
                        </a>
                    </div>
    	            <div class="col-lg-6 col-sm-12 portfolio-item text-center">
    	            	<h2>I'm a Job Seeker</h2>
    	                <a route-href="route: job-seeker" class="portfolio-link" data-toggle="modal">
    	                    <img src="src/images/registration/job_seeker.jpg" class="img-responsive center-block" alt="">
    	                </a>
    	            </div>
    	        </div>
            </div>
        </section>
    </div>
</template>