<template>
    <div class="au-animate">
    	<!-- Header -->
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="intro-text">
                            <span class="name">Welcome to Gighub!</span>
                            <hr class="hs-light">
                            <span class="skills">Your primary access hub toward new opportunities!</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Mission Statement Section -->
        <section id="mission">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>Our Mission</h2>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <p>Our primary goal is to match your personal qualities to a potential employer. We focus on what makes you unique as a person in order to create better options for career placement. Your skills are still important but your personal needs are equally as important! Register and become a member of your ideal team today!</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        <a route-href="route: register" class="btn btn-lg btn-primary">
                            <i class="fa fa-pencil-square-o"></i> Sign Up Now
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>